html {
    background-color: #D8E4FF;
}

html, body{
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #1F271B;
    border-radius: 8px;
    font-family: monospace, Courier;
}

textarea {
    height: 10em;
    width: 26em;
}

output {
    font-size: 24px;
}